/* ****** Start Global style ******* */
* , *::after , *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 90%;
    margin: auto;
}
.padding-section{
    padding: 70px 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.main-title{
    text-align: center;
}
.main-title p{
    font-size: 14px;
    color: #7F7F90;
}
.main-title h2{
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin:0;
    padding-bottom: 20px;
}
.main-title h2 span{
    color:#CE1212;
}
:root{
    --mainc-color: #212529;
    --color-tertiary: #7f7f90;
    --color-black: #000;
    --color-red: #CE1219;
    --color-white:#fff;
}

.mood-container{
    width: 30px;
    font-size: 25px;
    color: #000;
}
.mood-container i{
    cursor: pointer;
}
#light{
    display: none;
}
:root:has(#mood:checked){
    --color-red:#F1B258;
    --color-white:var(--color-black);
    --color-black:var(--mainc-color);
    #light{
        display: block;
    }
    #dark{
        display: none;
    }
}


/* === start navbar style ===*/
#navbar{
    padding: 20px 0;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    box-shadow: 0px 0px 14px #0000001b ;
    z-index: 999999;
}
#navbar .nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#navbar .logo a{
    font-size: 30px;
    font-weight: 700;
    color: #212529;
    position: relative;
}
#navbar .logo a::after{
    content: "";
    width: 7px;
    height: 7px;
    background-color: #CE1212;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: -5px;
}
#navbar .nav-links{
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}
#navbar .nav-links li{
    padding-inline: 20px;
    font-size: 17px;
    font-weight: 600;
}
#navbar .nav-links li a{
    color: #212529;
    font-size: 17px;
    font-weight: 600;
    padding: 5px 0;
    transition: color 1s;
    position: relative;
}
#navbar .nav-links li a::before{
    content: "";
    width: 0%;
    height: 2px;
    background-color:#CE1212;
    position: absolute;
    bottom: -3px;
    left:0;
    transition: width 0.5s ease-in-out;
}
#navbar .nav-links li a:hover::before{
    width: 100%;
}
#navbar .navicon i{
    font-size: 25px;
    font-weight: 900;
    color: #212529;
}

body:has(#header:target) .header-link::before ,
body:has(#Chefs:target) .chefs-link::before ,
body:has(#Gallery:target) .gallery-link::before ,
body:has(#contact:target) .contact-link::before
{
    width: 100% !important ;
}

/*start Header Section*/

#header{
    background-color: #EEEEEE;
    min-height: 100vh;
}
#header .header-box{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
#header .header-content{
    /* width: 40%;*/
     width: 100%;
     /* text-align: start; */
     text-align: center;
}
#header .header-content h2{
    font-family: "Amatic SC", sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: #37373F;
}
#header .header-content p{
    color: #4F4F5A;
    padding-block: 10px;
}
#header .header-img{
    /* width: 40%; */
    width: 100%;
    padding-top: 50px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.866));
}
#header .header-img img{
    width: 100%;
}
#header .header-img img:hover{
    animation: shake 0.32s infinite ;
}
#header .header-box .header-content .header-buttons{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: start; */
    justify-content: center;
    gap: 25px; 
    padding-bottom: 20px;
}
#header .header-box .header-content .header-buttons .book-btn{
    background-color: #CE1212;
    color: #fff;
    padding: 15px 20px;
    border-radius: 0px 50px 50px;
}
#header .header-box .header-content .header-buttons .book-btn:hover{
    background-color: #E61414;
}
#header .header-box .header-content .header-buttons .second-btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#header .header-box .header-content .header-buttons .second-btn .icon{
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right ,#CE1212 0% 50% , transparent 50% 100% );
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#header .header-box .header-content .header-buttons .second-btn:hover{
    color: #E61414;
}
#header .header-box .header-content .header-buttons .second-btn .icon i{
    z-index: 99;
}
#header .header-box .header-content .header-buttons .second-btn .icon::after{
    content: "";
    width: 35px;
    height: 35px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 50%;
}

@keyframes shake {
    0% {
        transform: rotate(10deg);
        transform: translateX(3px);
        transform: translateY(6px);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: translateX(-3px);
    }
}

/* === start chefs style ===*/

#Chefs .chef-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}
#Chefs .chef-items .item{
    /* width: calc( (100% - 60px) / 3 ); */
    width: 100%;
    padding: 15px;
    transition: transform 0.5s ease-in-out;
    margin-bottom: 25px;
}
#Chefs .chef-items .item .inner{
        border: solid 0px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.084) ;
        padding-bottom: 20px;
        transition:transform 1s;
        position: relative;
        overflow: hidden;
}
#Chefs .chef-items .item img{
    width: 100%;
}
#Chefs .item .item-content h3{
    font-size: 18.72px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 5px;
}
#Chefs .item .item-content span{
    color: #7f7f90 ;
    font-size: 14px;
    font-weight: 400;
}
#Chefs .item .item-content p{
    color: #7f7f90;
    font-size: 15px;
    font-weight:400;
    margin: 0;
    padding-top: 10px;
    font-style: italic;
    line-height: 25px;
}
#Chefs .chef-items .item:hover{
    transform: scale(1.07);
}
#Chefs .item .layer {
    background-color: #e5dfd96a;
    border-radius: 5px;
    position: absolute;
    top: 18%;
    left: 110%;
    transform: translate(-100%, -50%);
    width: 10%;
    padding: 10px 0;
    z-index: 2;
    transition: transform 0.9s 0.6s;
}

#Chefs .chef-items .item .inner:hover .layer {
    transform: translate(-250%, -50%);
}

.layer li{
    text-align: center;
}
.layer i{
    color: #7c7776;
    padding: 10px 10px;
    font-size: 18px;
    transition: color 0.5s;
}
.layer i:hover{
    color:#353439 ;
}

/* === start gallary section*/

#Gallery{
    text-align: center;
}

#Gallery .gallary-items {
    column-count: 1;
    column-gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

#Gallery .gallary-items .item {
    break-inside: avoid;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.084);
}

#Gallery .gallary-items .inner {
    position: relative;
    width: 100%;
    height: 100%;
}

#Gallery .gallary-items img {
    width: 100%;
    display: block;
    border-radius: 6px;
    object-fit: cover;
}

#Gallery .gallary-items .layer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-white);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: top 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Gallery .gallary-items .inner:hover .layer {
    top: 0;
}

#Gallery .gallary-items .inner:hover img {
    transform: scale(1.03);
    transition: transform 0.3s;
}


/* === start contact style ===*/
#contact iframe{
    display: block;
    padding: 20px 0;
}
#contact .contact-info{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
#contact .contact-info .info{
    /* width: calc(( 100% - 20px ) / 2); */
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    gap:10px;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 30px;
}
#contact .contact-info .icon{
    width: 50px;
    height: 50px;
    background-color: #CE1219 ;
    color: #fff;
    border: 2px solid #CE1219;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;
}
#contact .contact-info .info h3{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-tertiary);
}
#contact .contact-form{
    background-color: #fff;
    box-shadow: 0 0 1.875rem #00000014;
    padding: 20px;
}
#contact .contact-form .form-group{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
#contact .contact-form .form-group .form-input{
    /* width: calc(( 100% - 20px ) / 2); */
    width: 100%;
    margin-bottom: 20px;
}
#contact .contact-form .form-input{
    margin-bottom: 20px;
}
#contact .contact-form .form-group .form-input input{
    width: 100%;
    padding: 20px;
    border: 1px solid #E8E3E3;
    outline: none;
    border-radius: 4px;
}
#contact .contact-form .form-input textarea{
    min-height: 150px;
    max-height: 300px;
    resize: vertical;
    width: 100%;
    padding: 20px ;
    outline: none;
    border-radius: 4px;
}
#contact .contact-form .form-input input{
        width: 100%;
    padding: 20px;
    border: 1px solid #E8E3E3;
    outline: none;
    border-radius: 4px;
}
#contact .contact-form .contact-btn{
    background-color: #CE1212;
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    color: #fff;
    display: block;
    margin: auto;
}
#contact .contact-form button:hover{
    background-color: #E61414;
}

input, textarea {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    transition: border-color 0.3s;
}
input:focus{
    outline: 0;
    border-color: var(--color-red) !important;
}
textarea:focus{
    outline: 0;
    border-color: var(--color-red) !important;
}

/* === start footer style ===*/

#footer {
    background-image: url(../images/textured-metal-background.jpg);
    background-size: contain;
    background-position: center;
    background-blend-mode: darken;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.923);
    color: #fff;
}
#footer .footer-box{
    display: flex;
    flex-wrap: wrap ;
    gap: 20px;
}
#footer .about{
    /* width: calc( ( 100% - 40px) / 4 ); */
    width: 100%;
}
#footer .about .about-title{
    display: flex;
    align-items: center;
    gap: 10px;
}
#footer .about .about-title img{
    width: 40px;
    height: 40px;
}
#footer .about p{
    line-height: 20px;
}
#footer .about h3{
    font-size: 18.72px;
    font-weight: 700;
    border-bottom: 1px solid #585858;
    text-align: center;
    padding-block: 5px;
}
#footer .about ul{
    display: flex;
    justify-content: space-around;
    padding-block: 10px;
}
#footer .subscribtion{
    /* width: calc( ( 100% - 40px) / 2 ); */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
#footer .subscribtion .sub-group{
    display: flex;
    gap: 8px;
}
#footer .subscribtion .sub-group input{
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
}
#footer .subscribtion .sub-group button{
    padding: 10px 5px;
    border-radius: 2px;
    background-color: #CE1212;
    border: none;
    color: #fff;
    min-width: 110px;
}
#footer .subscribtion .quick-links h3{
    margin-top: 10px;
    padding: 5px;
}
#footer .subscribtion .quick-links ul{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
#footer .subscribtion .quick-links ul li{
    width: calc( ( 100% - 30px ) / 2 );
}
#footer .contact-details{
    /* width: calc( ( 100% - 40px) / 4 ); */
    width: 100%;
}
#footer .contact-details ul{
    padding: 10px;
}
#footer .contact-details ul li{
    display: flex;
    align-items: center;
    gap: 12px;
    padding-block: 10px;
}


/* start Media Query*/



@media screen and (min-width: 640px) {
    #header .header-content h2 {
        font-size: 45px;
    }
    #header .header-img img {
        width: 70%;
    }

    #Chefs .chef-title h2 {
        font-size: 40px;
    }
    #Chefs .chef-items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #Chefs .chef-items .item {
        width: 100%;
    }

    #Gallery .gallary-items {
        column-count: 2;
    }

    #contact .contact-title h2 {
        font-size: 40px;
    }
    #contact .input .input-row {
        flex-direction: column;
    }
    #footer {
        padding: 30px 20px;
    }

}
@media screen and (min-width: 768px) {
    #header .header-content {
        width: 50%;
    }
    #header .header-content h2 {
        font-size: 55px;
    }
    #header .header-img {
        width: 50%;
        text-align: right;
    }
    #header .header-img img {
        width: 65%;
    }

    #Chefs .chef-items .item {
        width: 50%; 
    } 

    #Gallery .gallary-title h2 {
        font-size: 40px;
    }

    #contact .contact-info .info{
    width: calc(( 100% - 20px ) / 2);
    }

    #footer .about{
    width: calc( ( 100% - 40px) / 2 );
    order: 1;
    }
    #footer .subscribtion{
    /* width: calc( ( 100% - 40px) / 2 ); */
    width: 100%;
    order: 3;
    }
    #footer .contact-details{
    width: calc( ( 100% - 40px) / 2 );
    order: 2;
    }
}


@media screen and (min-width: 1024px) {
    #navbar .nav-links{
        display: flex;
    }
    #header .header-box{
        flex-direction: row;
    }
    #header .header-content{
        width: 40%;
        text-align: start;
    }
    #header .header-box .header-content .header-buttons{
        justify-content: start;
    }
    #header .header-img{
        width: 50%;
    }
    #Chefs .chef-title h2 {
        font-size: 50px;
    }
    #Chefs .chef-items .item {
        width: 33.3333%; 
    }

    #Gallery .gallary-items {
        column-count: 3;
    }
    #Gallery .gallary-title h2 {
        font-size: 50px;
    }

    #contact .contact-form .form-group .form-input{
    width: calc(( 100% - 20px ) / 2);
    }

        #footer .about{
    width: calc( ( 100% - 40px) / 4 );
    order: 1;
    }
    #footer .subscribtion{
    width: calc( ( 100% - 40px) / 2 );
    order: 2;
    }
    #footer .contact-details{
    width: calc( ( 100% - 40px) / 4 );
    order: 3;
    }

}
@media screen and (min-width: 1280px) {
    #header .header-content h2 {
        font-size: 65px;
    }
      /* #header .header-img img {
        width: 60%;
    } */

    #Chefs .chef-items .item {
        padding: 20px;
    }

}
@media screen and (min-width: 1536px) {
    #Chefs .chef-items {
        max-width: 1200px;
        margin: auto;
    }
    #Gallery .gallary-items {
        column-count: 3;
    }

    #contact {
        padding-left: 100px;
        padding-right: 100px;
    }
}